# Hugo default output directory
public/
/exampleSite/resources/
/resources/_gen/assets/scss/temp

node_modules/
build/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
