<figure>
    <img
        {{ $res := resources.Get "svg/loading.svg" | minify -}}
        src="{{ $res.RelPermalink }}"
        data-sizes="auto"
        data-src="{{ .Destination | safeURL }}"
        alt="{{ .Text }}"
        {{ with .Title -}}
            title="{{ . }}"
        {{ end -}}
        class="lazyload"
        >
    <figcaption class="image-caption">
        {{- if .Title -}}
            {{- .Title -}}
        {{- else -}}
            {{- .Text -}}
        {{- end -}}
    </figcaption>
</figure>