  
  /** Home **/
  
  .intro {
    transform: translateY(25vh);
    text-align: center;
    .avatar {
      padding: 10px;
      img {
        width: 128px;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        cursor: pointer;
        &:hover {
          position: relative;
          -webkit-transform: translateY(-0.75em);
          -moz-transform: translateY(-0.75em);
          -ms-transform: translateY(-0.75em);
          -o-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
          cursor: pointer;
        }
      }
    }
  }
  
  h2.description {
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
  }
  
  .social-links {
    a {
    
      padding: 0 5px;
      &:hover {
       
        background-color: transparent;
      }
    }
    .iconfont {
      font-size: 2em;
    }
  }