@media only screen and (max-width: 1440px) {
  .page {
    max-width: 56%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    max-width: 52%;
  }
}

@media only screen and (max-width: 960px) {
  #header-desktop {
    .header-wrapper {
      padding: 0 1rem;
    }
  }

  .page {
    max-width: 80%;

    #toc-auto {
      display: none;
    }

    #toc-static {
      display: block;
    }
  }
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  .page {
    max-width: 100%;
    padding-top: $page-padding-top-mobile;

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
