@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($values...) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin flex($value) {
  -webkit-flex: $value;
  flex: $value;
}

@mixin box($orient) {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-orient: $orient;
  -webkit-box-orient: $orient;
  box-orient: $orient;
}

@mixin placeholder($color) {
  input::-webkit-input-placeholder{
    color: $color;
  }

  input:-moz-placeholder{
    color: $color;
  }

  input::-moz-placeholder{
    color: $color;
  }

  input:-ms-input-placeholder{
    color: $color;
  }

  input::placeholder {
    color: $color;
  }
}
