.search-box {
  position: relative;
  margin-bottom: 20px;
}

#searchBoxInput {
  padding: 0.5rem 2rem 0.5rem 1rem;
  width: 16rem;
  background:#eaeaea;
  border-radius: 1rem;
  outline: 0;
  font-size: 1rem;
  color: inherit;
  border: 0px;
  box-sizing: border-box;
}

.dark-theme .search-box #searchBoxInput {
  background: #3b3d42;
}

#searchBoxButton {
  display: inline;
  background: none;
  position: absolute;
  left: 14rem;
  margin: 0rem;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 0.45rem 0.4rem 0.30rem 0.4rem;
}

.search-box-icon {
  color: inherit;
  fill: currentColor;
  width: 1.1rem;
  height: 1.1rem;
}

#searchCount {
  font-size: 0.8rem;
}