{{ define "container" }}
{{ $paginator := .Paginate .Site.RegularPages }}
{{ range $paginator.Pages }}
   {{ .Render "summary" }}
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<ul class="pager">
  {{ if $paginator.HasPrev }}
  <li class="previous">
      <a href="{{ .Paginator.Prev.URL }}">&larr; Newer Posts</a>
  </li>
  {{ end }}
  {{ if $paginator.HasNext }}
  <li class="next">
      <a href="{{ .Paginator.Next.URL }}">Older Posts &rarr;</a>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}