<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{ partial "head.html" . }}
        {{ $style := resources.Get "css/style.scss" | resources.ToCSS | resources.Minify}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    </head>
    <body class="">
        <div class="wrapper">
            {{ partial "header.html" . }}
            <main class="main">
                <div class="container">
                    {{ block "content" . }}{{ end }}
                </div>
            </main>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "js.html" . }}
    </body>
</html>
