{{- define "content" -}}
<div class="page home">
<section>
  <div>
    <form action="{{ "search" | absURL }}">
      <input id="search-query" name="s"/>
    </form>
    <div id="search-results">
     <h3>{{- printf (T "SearchResults") -}}</h3>
    </div>
  </div>
</section>
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}">
    <h4><a href="${link}">${title}</a></h4>
    <p>${snippet}</p>
    ${ isset tags }<p>{{- printf (T "tags") -}}: ${tags}</p>${ end }
    ${ isset categories }<p>{{- printf (T "categories") -}}: ${categories}</p>${ end }
  </div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.5.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
{{- end -}}