{{ define "main" }}
<main class="posts">

  <div class="search-box">
    <input type="text" id="searchBoxInput" placeholder="Search">
    <button id="searchBoxButton">
    <svg t="1556783211810" class="search-box-icon" class="icon" style="" viewBox="0 0 1024 1024" version="1.1"
      xmlns="http://www.w3.org/2000/svg" p-id="2078" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <style type="text/css"></style>
      </defs>
      <path
        d="M981.39652054 920.86314525L704.56522859 644.0318533a366.65501012 366.65501012 0 1 0-61.73503038 65.64040943L917.55859375 984.40065827z m-856.17925347-493.12920861a284.19142939 284.19142939 0 1 1 283.89101562 284.19142939A284.49184317 284.49184317 0 0 1 125.06706019 427.73393664z"
        fill="" p-id="2079" data-spm-anchor-id="a313x.7781069.0.i2"></path>
    </svg>
    </button>
  </div>
  <div class="posts-group">
    <ul id="searchResult" class="posts-list">
    </ul>
  </div>
  <span id="searchCount"></span>


</main>
<script type="text/javascript" src='/js/fuse.min.js'></script>
<script type="text/javascript" src='/js/search.js'></script>
{{ end }}