{{- $params := .Params | merge .Site.Params.page -}}
<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Featured image */ -}}
    {{- with $params.featuredimagepreview | default $params.featuredimage -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "src" . "alt" $.Description "large" true | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Title */ -}}
    <h1 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>

    {{- /* Meta */ -}}
    <div class="post-meta">
        {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
        {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
        <span class="post-author">
            {{- $options := dict "class" "author" "href" $authorLink "title" "Author" "rel" "author" "icon" (dict "class" "fas fa-user-circle fa-fw") "content" $author -}}
            {{- partial "plugin/link.html" $options -}}
        </span>

        {{- $publish_date := .PublishDate.Format (.Site.Params.dateFormat | default "2006-01-02") -}}
        &nbsp;<span class="post-publish">
            {{ T "publish" }}&nbsp;<time datetime={{ $publish_date }}>{{ $publish_date }}</time>
        </span>

        {{- with .Params.categories -}}
            &nbsp;
            <span class="post-category">
                {{- T "included" -}}
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }}&nbsp;{{ end -}}
                    {{- $category := $value | anchorize | printf "/categories/%s" | $.Site.GetPage -}}
                    <a href="{{ $category.RelPermalink }}">
                        <i class="far fa-folder fa-fw"></i>{{ $category.Title }}
                    </a>
                {{- end -}}
            </span>
        {{- end -}}
    </div>

    {{- /* Summary content */ -}}
    <div class="content">
        {{- with .Summary -}}
            {{- dict "content" . "ruby" $params.ruby "fraction" $params.fraction "fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer">
        <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
        {{- with .Params.tags -}}
            <div class="post-tags">
                <i class="fas fa-tags fa-fw"></i>&nbsp;
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                    {{- $tag := $value | anchorize | printf "/tags/%s" | $.Site.GetPage -}}
                    <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</article>
