{{- define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
<div class="page home">
<div id="searchbox"></div>
<div id="powered-by" style="position:absolute; right:0px"></div>
<div id="hits"></div>
<div id="pagination" class="pagination"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4/dist/instantsearch.production.min.js"></script>
<script>
	const search = instantsearch({
		indexName: {{ .Site.Params.algolia.indexName }},
		searchClient: algoliasearch(
			{{ .Site.Params.algolia.appId }},
			{{ .Site.Params.algolia.searchOnlyKey }},
		),
		routing: true,
	});
	var searchBox = instantsearch.widgets.searchBox({
		container: '#searchbox',
		placeholder: '{{- printf (T "StartSearch") -}}',
		autofocus: true,
		searchAsYouType: true,
		showReset: true,
		showSubmit: true,
		showLoadingIndicator: true,
	});

	var hits = instantsearch.widgets.hits({
		container: '#hits',
		escapeHTML: false,
		templates: {
			empty: '<div class="content"><p>{{- printf (T "NotFound") -}}{{ safeHTML "{{ query }}" }}</p></div>.',
			item:  '<article class="single summary" itemscope itemtype="http://schema.org/Article"><h1 class="single-title" itemprop="name headline"><a href="{{ safeHTML "{{ url }}" }}">{{ safeHTML "{{#helpers.highlight}}" }}{ "attribute": "title" }{{ safeHTML "{{/helpers.highlight}}" }}</a></h1><div class="content">...{{ safeHTML "{{{_snippetResult.content.value}}}" }}...</div</article>',
		},
	});

	const poweredBy = instantsearch.widgets.poweredBy({
		container: '#powered-by',
	});

	
	var configWidget = instantsearch.widgets.configure({
		attributesToSnippet: ['content:50'],
	});

	const pagination = instantsearch.widgets.pagination({
		container: '#pagination',
		showFirst: true,
		showPrevious: false,
		showNext: false,
		showLast: true,
		padding: 2,
	});

	search.addWidgets([searchBox, hits, poweredBy, configWidget, pagination]);

	search.start();
</script>
{{- end -}}
