{{ define "main" }}

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">

      <!-- Post Container -->
      <div class="
              col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              post-container">
        {{ .Content }}

        <hr style="visibility: hidden;" />
        <ul class="pager">
          {{ with .Prev }}
          <li class="previous">
            <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
              Previous<br>
              <span>{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
          {{ with .Next }}
          <li class="next">
            <a href="{{ .RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .Title }}">
              Next<br>
              <span>{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
        <hr style="visibility: hidden;" />

        <!-- comments -->
        {{ partial "comments.html" . }}

      </div>

      <!-- Side Catalog Container -->
      {{ $toc := .Scratch.Get "toc" }}
      {{ if $toc }}
      <div class="
              col-lg-2 col-lg-offset-0
              visible-lg-block
              sidebar-container
              catalog-container">
        <div class="side-catalog">
          <hr class="hidden-sm hidden-xs">
          <h5>
            <a class="catalog-toggle" href="#">CATALOG</a>
          </h5>
          <ul class="catalog-body"></ul>
        </div>
      </div>
      {{ end }}
      <!-- Sidebar Container -->
      <div class="
              col-lg-8 col-lg-offset-2
              col-md-10 col-md-offset-1
              sidebar-container">

        <!-- Featured Tags -->
        {{ .Scratch.Set "bottom" true }}
        {{ partial "featured-tags.html" . }}

        <!-- Friends Blog -->
        {{ partial "friends.html" . }}
      </div>
    </div>
  </div>
</article>

{{ end }}