// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.since {
  padding: 30px;
  text-align:center;
  font-size: 30px;
  line-height: 50px;
}
