@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff2') format('woff2'),
  url('../fonts/iconfont/iconfont.woff') format('woff'),
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e6c4";
}

.icon-codepen:before {
  content: "\ea79";
}

.icon-spotify:before {
  content: "\ebf4";
}

.icon-reddit:before {
  content: "\e761";
}

.icon-dajiantou:before {
  content: "\e642";
}

.icon-xiaojiantou:before {
  content: "\e666";
}

.icon-deviantart:before {
  content: "\e6c6";
}

.icon-dribbble:before {
  content: "\e6d8";
}

.icon-zhihu:before {
  content: "\e6ba";
}

.icon-wordpress:before {
  content: "\e848";
}

.icon-twitter:before {
  content: "\eb2a";
}

.icon-whatsapp:before {
  content: "\eb92";
}

.icon-facebook:before {
  content: "\e638";
}

.icon-gitlab:before {
  content: "\e719";
}

.icon-medium:before {
  content: "\e783";
}

.icon-steam:before {
  content: "\e811";
}

.icon-jsfiddle:before {
  content: "\e752";
}

.icon-soundcloud:before {
  content: "\e81d";
}

.icon-ycombinator:before {
  content: "\eb32";
}

.icon-linkedin:before {
  content: "\e696";
}

.icon-pinterest:before {
  content: "\e697";
}

.icon-500px:before {
  content: "\e607";
}

.icon-bitbucket:before {
  content: "\e645";
}

.icon-instagram:before {
  content: "\e6b6";
}

.icon-slideshare:before {
  content: "\e6fd";
}

.icon-twitch:before {
  content: "\e72a";
}

.icon-vine:before {
  content: "\e735";
}

.icon-xing:before {
  content: "\e741";
}

.icon-snapchat:before {
  content: "\e8b2";
}

.icon-douban:before {
  content: "\e688";
}

.icon-github:before {
  content: "\e691";
}

.icon-t:before {
  content: "\e601";
}

.icon-mail:before {
  content: "\e622";
}

.icon-behance:before {
  content: "\e621";
}

.icon-POP_lastfm:before {
  content: "\e681";
}

.icon-odnoklassniki:before {
  content: "\e624";
}

.icon-strava:before {
  content: "\e627";
}

.icon-goodreads:before {
  content: "\e62a";
}

.icon-kickstarter:before {
  content: "\e644";
}

.icon-bandcamp:before {
  content: "\e64b";
}

.icon-flickr:before {
  content: "\e660";
}

.icon-keybase:before {
  content: "\e665";
}

.icon-paypal:before {
  content: "\e667";
}

.icon-mastodon:before {
  content: "\e94a";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-skype:before {
  content: "\e87d";
}

.icon-icon-tag:before {
  content: "\e632";
}

.icon-sun:before {
  content: "\e684";
}

.icon-timer:before {
  content: "\e664";
}

.icon-researchgate:before {
  content: "\e693";
}

.icon-angellist:before {
  content: "\f163";
}

.icon-mix:before {
  content: "\f1f5";
}

.icon-patreon:before {
  content: "\f209";
}

.icon-quora:before {
  content: "\f218";
}

.icon-stack-overflow:before {
  content: "\f239";
}

.icon-telegram-plane:before {
  content: "\f246";
}

.icon-tumblr:before {
  content: "\f24a";
}

.icon-vk:before {
  content: "\f25e";
}

.icon-youtube:before {
  content: "\e765";
}

.icon-Googlescholar:before {
  content: "\e736";
}

.icon-foursquare:before {
  content: "\e8ed";
}

