#fixed-buttons {
  display: none;
}

.fixed-button {
  display: none;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: .6rem .6rem;
  color: $global-font-secondary-color;
  background: $header-background-color;
  border: 1px solid darken($global-border-color, 10%);
  border-radius: 2rem;

  &:hover, &:active {
    color: $global-font-color;
    cursor: pointer;
  }

  &:active, &:focus, &:hover {
    outline: none;
  }

  .dark-theme & {
    color: $global-font-secondary-color-dark;
    background: $header-background-color-dark;
    border-color: darken($global-border-color-dark, 10%);

    &:hover, &:active {
      color: $global-font-color-dark;
    }
  }
}

#top-button {
  display: block;
  bottom: 1.5rem;
}

#comment-button {
  bottom: 4.5rem;
}
