footer {
  height: 2rem;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  padding-top: 2rem;

  .copyright {
    font-size: .875rem;

    .copyright-line {
      width: 100%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
