.header-logo a {
  padding: 0;

  i {
    line-height: 2em;
  }
}

.navbar .menu a {

  padding: 0 8px;
}

.navbar .menu .active {
  font-weight: 900;
  color: $navbar-active-color;

  .dark-theme & {
    color: $navbar-active-color-dark;
  }
}

.navbar-header a:hover,
.navbar .menu a:hover {

  background-color: transparent;
}


