.page {
  position: relative;
  max-width: 1080px;
  width: 64%;
  margin: 0 auto;

  [data-header-desktop] & {
    padding-top: var(--header-height);
  }

  [data-header-desktop=normal] & {
    padding-top: 0;
  }

  @include blur;
}

@import "_single";
@import "_special";
@import "_archive";
@import "_home";
@import "_404";
