@import "../_partial/_single/toc";

.single {
  .single-title {
    margin: 1rem 0 .5rem;
    font-size: 1.6rem;
    line-height: 140%;
  }

  .single-subtitle {
    margin: .4rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;
  }

  .post-meta {
    font-size: .875rem;
    color: $global-font-secondary-color;

    span {
      display: inline-block;
    }

    .dark & {
      color: $global-font-secondary-color-dark;
    }

    @include link(false, true);

    .author {
      font-size: 1.05rem;
    }
  }

  .featured-image {
    margin: .5rem 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .content {
    > h2 {
      font-size: 1.5rem;

      & code {
        font-size: 1.25rem;
      }
    }

    > h3 {
      font-size: 1.375rem;

      & code {
        font-size: 1.125rem;
      }
    }

    > h4 {
      font-size: 1.25rem;

      & code {
        font-size: 1rem;
      }
    }

    > h5 {
      font-size: 1.125rem;
    }

    > h6 {
      font-size: 1rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      margin: 1.2rem 0;

      .dark & {
        font-weight: bolder;
      }
    }

    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      > .header-mark::before {
        content: "|";
        margin-right: .3125rem;
        color: $single-link-color;

        .dark & {
          color: $single-link-color-dark;
        }
      }
    }

    > h2 > .header-mark::before {
      content: "#";
    }

    p {
      margin: .5rem 0;
    }

    b, strong {
      font-weight: bold;

      .dark & {
        color: #ddd;
      }
    }

    @include link(false, false);

    a {
      word-break: break-all;
      word-break: break-word;

      .dark & b, .dark & strong {
        color: $single-link-color-dark;
      }
    }

    .dark a:hover b, .dark a:hover strong {
      color: $single-link-hover-color-dark;
    }

    ul {
      margin: .5rem 0;
      padding-left: 2rem;
      list-style-type: disc;
    }

    ruby {
      background: $code-background-color;

      rt {
        color: $global-font-secondary-color;
      }

      .dark & {
        background: $code-background-color-dark;

        rt {
          color: $global-font-secondary-color-dark;
        }
      }
    }

    .table-wrapper {
      overflow-x: auto;

      &::-webkit-scrollbar {
        background-color: $table-background-color;

        .dark & {
          background-color: $table-background-color-dark;
        }
      }

      > table {
        width: 100%;
        max-width: 100%;
        margin: .625rem 0;
        border-spacing: 0;
        background: $table-background-color;
        border-collapse: collapse;

        .dark & {
          background: $table-background-color-dark;
        }

        thead {
          background: $table-thead-color;

          .dark & {
            background-color: $table-thead-color-dark;
          }
        }

        th, td {
          padding: .3rem 1rem;
          border: 1px double $global-border-color;

          .dark & {
            border: 1px double $global-border-color-dark;
          }
        }
      }
    }

    img {
      max-width: 100%;
      min-height: 1.25em;
      vertical-align: text-bottom;
    }

    figure {
      text-align: center;

      .image-caption:not(:empty) {
        min-width: 20%;
        max-width: 80%;
        display: inline-block;
        padding: .5rem;
        margin: 0 auto;
        font-size: .875rem;
        color: #969696;
      }

      img {
        display: block;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
      }
    }

    .lazyloading {
      object-fit: none;
    }

    blockquote {
      font-size: 1rem;
      display: block;
      border-width: 1px 0;
      border-style: solid;
      border-color: $global-border-color;
      padding: 1.5em 1.2em 0.5em 1.2em;
      margin: 0 0 2em 0;
      position: relative;

      &::before {
        content: '\201C';
        position: absolute;
        top: 0em;
        left: 50%;
        @include transform(translate(-50%, -50%));
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: $single-link-color;
        text-align: center;

        .dark & {
          color: $single-link-color-dark;
        }
      }

      &::after {
        content: '#blockquote' attr(cite);
        display: block;
        text-align: right;
        font-size: 0.875em;
        color: $single-link-color;

        .dark & {
          color: $single-link-color-dark;
        }
      }

      .dark & {
        border-color: $global-border-color-dark;
      }
    }

    .footnotes {
      color: $global-font-secondary-color;

      .dark & {
        color: $global-font-secondary-color-dark;
      }

      p {
        margin: .25rem 0;
      }
    }

    @import "../_partial/_single/code";
    @import "../_partial/_single/instagram";
    @import "../_partial/_single/admonition";
    @import "../_partial/_single/echarts";
    @import "../_partial/_single/mapbox";
    @import "../_partial/_single/music";
    @import "../_partial/_single/bilibili";

    hr {
      margin: 1rem 0;
      position: relative;
      border-top: 1px dashed $global-border-color;
      border-bottom: none;

      .dark & {
        border-top: 1px dashed $global-border-color-dark;
      }
    }

    kbd {
      display: inline-block;
      padding: .25rem;
      background-color: $global-background-color;
      border: 1px solid $global-border-color;
      border-bottom-color: $global-border-color;
      @include border-radius(3px);
      @include box-shadow(inset 0 -1px 0 $global-border-color);
      font-size: .8rem;
      font-family: $code-font-family;
      color: $code-color;

      .dark & {
        background-color: $global-background-color-dark;
        border: 1px solid $global-border-color-dark;
        border-bottom-color: $global-border-color-dark;
        @include box-shadow(inset 0 -1px 0 $global-border-color-dark);
        color: $code-color-dark;
      }
    }

    .typeit {
      .code {
        padding: .375rem;
        font-size: .875rem;
        font-family: $code-font-family;
        font-weight: bold;
        word-break: break-all;
      }
    }

    .version {
      height: 1.25em;
    }
  }

  @import "../_partial/_single/footer";
  @import "../_partial/_single/comment";
}
