{{- $params := .Page.Params | merge .Site.Params.Page | merge (dict "author" .Site.Params.Author.name) -}}
<item>
    <title>
        {{- .Page.Title -}}
    </title>
    <link>
        {{- .Page.Permalink -}}
    </link>
    <pubDate>
        {{- .Page.Date.Format "Mon, 02 Jan 2006 15:04:05 -0700"  -}}
    </pubDate>
    <author>
        {{- $params.author | default (T "author") -}}
    </author>
    <guid>
        {{- .Page.Permalink -}}
    </guid>
    <description>
        {{- "<![CDATA[" | safeHTML -}}
        {{- with $params.featuredimage -}}
            <div class="featured-image">
                <img src="{{ . | relURL }}" referrerpolicy="no-referrer">
            </div>
        {{- end -}}
        {{- $content := .Page.Description -}}
        {{- if $params.rssFullText -}}
            {{- $content = dict "Content" .Page.Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
        {{- else -}}
            {{- with .Page.Summary -}}
                {{- $content = dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
            {{- end -}}
        {{- end -}}
        {{- $content | replaceRE `<figure[^>]*>.*</figure>` "" | replaceRE `<img[^>]*( /)?>` "" | safeHTML -}}
        {{- "]]>" | safeHTML -}}
    </description>
</item>
