{{- /* Desktop header */ -}}
<header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title animated bounceIn">
            <a href="{{ `/` | relLangURL }}">
                {{- .Site.Title -}}
            </a>
        </div>
        <div class="menu">
            {{- range .Site.Menus.main -}}
                <a class="menu-item{{ if $.IsMenuCurrent "main" . | or ($.HasMenuCurrent "main" .) | or (.URL | relLangURL | string | eq $.RelPermalink ) }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>
                    {{- .Pre | safeHTML }}{{ .Name -}}
                </a>
            {{- end -}}
            <a href="javascript:void(0);" class="theme-switch" title="{{ T "switchTheme" }}">
                <i class="fas fa-adjust fa-rotate-180 fa-fw"></i>
            </a>
        </div>
    </div>
</header>

{{- /* Mobile header */ -}}
<header class="mobile" id="header-mobile">
    <div class="header-wrapper">
        <div class="header-container">
            <div class="header-title animated bounceIn">
                <a href="{{ `/` | relLangURL }}">
                    {{- .Site.Title -}}
                </a>
            </div>
            <div class="menu-toggle" id="menu-toggle-mobile">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="menu" id="menu-mobile">
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
                <a class="menu-item" href="{{ .URL | absLangURL }}" title="{{ .Title }}">
                    {{- .Pre | safeHTML }}{{ .Name -}}
                </a>
            {{- end -}}
            <a href="javascript:void(0);" class="theme-switch" title="{{ T "switchTheme" }}">
                <i class="fas fa-adjust fa-rotate-180 fa-fw"></i>
            </a>
        </div>
    </div>
</header>

<script>
    window.desktopHeaderMode = {{ .Site.Params.header.desktopMode }};
    window.mobileHeaderMode = {{ .Site.Params.header.mobileMode }};
</script>
