{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-github"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-linkedin"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-twitter"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
<a href="https://www.instagram.com/{{.}}/" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-instagram"></i></a> 
{{ end }}
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener noreffer"><i class="iconfont icon-mail" target="_blank"></i></a>
{{ end }}
{{ with .Site.Params.Social.Facebook}}
<a href="https://facebook.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-facebook"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
<a href="https://t.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-telegram-plane"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
<a href="https://medium.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-medium"></i></a>
{{ end }}
{{ with .Site.Params.Social.Gitlab}}
<a href="https://gitlab.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-gitlab"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtube}}
<a href="https://www.youtube.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Tumblr}}
<a href="https://{{.}}.tumblr.com" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-tumblr"></i></a>
{{ end }}
{{ with .Site.Params.Social.Quora}}
<a href="https://www.quora.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-quora"></i></a>
{{ end }}
{{ with .Site.Params.Social.Keybase}}
<a href="https://keybase.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-keybase"></i></a>
{{ end }}
{{ with .Site.Params.Social.Pinterest}}
<a href="https://www.pinterest.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-pinterest"></i></a>
{{ end }}
{{ with .Site.Params.Social.Reddit}}
<a href="https://www.reddit.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-reddit"></i></a>
{{ end }}
{{ with .Site.Params.Social.Codepen}}
<a href="https://codepen.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-codepen"></i></a>
{{ end }}
{{ with .Site.Params.Social.Bitbucket}}
<a href="https://bitbucket.org/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-bitbucket"></i></a>
{{ end }}
{{ with .Site.Params.Social.Stackoverflow}}
<a href="https://stackoverflow.com/users/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-stack-overflow"></i></a>
{{ end }}
{{ with .Site.Params.Social.Weibo}}
<a href="https://weibo.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-weibo"></i></a>
{{ end }}
{{ with .Site.Params.Social.Odnoklassniki}}
<a href="https://ok.ru/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-odnoklassniki"></i></a>
{{ end }}
{{ with .Site.Params.Social.VKontakte}}
<a href="https://vk.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-vk"></i></a>
{{ end }}
{{ with .Site.Params.Social.Flickr}}
<a href="https://www.flickr.com/photos/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-flickr"></i></a>
{{ end }}
