{{- define "title" }}
    {{- T "pageNotFound" | printf "404 %s" }} | {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="notfound">
        <h1 id="error-emoji"></h1>
        <p class="error-text">
            {{- T "pageNotFoundText" -}}&nbsp;
            <a href="{{ .Site.BaseURL }}" title="{{ T "backToHome" }}">↩︎</a>
        </p>
    </div>
    <script>
        const emojiArray = [
            '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
            '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
        ];
        const errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
        const errorEmojiContainer = document.getElementById('error-emoji');
        errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
    </script>
{{- end -}}
