// ==============================
// Override Variables
// 覆盖变量
// ==============================

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

$header-title-font-family: 'Baloo 2', $global-font-family;
