{{ with .Site.Params.Social.Github }}
    <a href="https://github.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-github-alt fa-fw" title="Github"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
    <a href="https://linkedin.com/in/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-linkedin fa-fw" title="LinkedIn"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitter }}
    <a href="https://twitter.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-twitter fa-fw" title="Twitter"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
    <a href="https://www.instagram.com/{{.}}/" rel="me noopener noreffer" target="_blank"><i class="fab fa-instagram fa-fw" title="Instagram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Facebook}}
    <a href="https://facebook.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-facebook fa-fw" title="Facebook"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
    <a href="https://t.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-telegram-plane fa-fw" title="Telegram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
    <a href="https://medium.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-medium fa-fw" title="Medium"></i></a>
{{ end }}
{{ with .Site.Params.Social.Gitlab}}
    <a href="https://gitlab.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-gitlab fa-fw" title="Gitlab"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubelegacy}}
    <a href="https://www.youtube.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-youtube fa-fw" title="Youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubecustom}}
    <a href="https://www.youtube.com/c/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-youtube fa-fw" title="Youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubechannel}}
    <a href="https://www.youtube.com/channel/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-youtube fa-fw" title="Youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Tumblr}}
    <a href="https://{{.}}.tumblr.com" rel="me noopener noreffer" target="_blank"><i class="fab fa-tumblr fa-fw" title="Tumblr"></i></a>
{{ end }}
{{ with .Site.Params.Social.Quora}}
    <a href="https://www.quora.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-quora fa-fw" title="Quora"></i></a>
{{ end }}
{{ with .Site.Params.Social.Keybase}}
    <a href="https://keybase.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-keybase fa-fw" title="Keybase"></i></a>
{{ end }}
{{ with .Site.Params.Social.Pinterest}}
    <a href="https://www.pinterest.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-pinterest fa-fw" title="Pinterest"></i></a>
{{ end }}
{{ with .Site.Params.Social.Reddit}}
    <a href="https://www.reddit.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-reddit fa-fw" title="Reddit"></i></a>
{{ end }}
{{ with .Site.Params.Social.Codepen}}
    <a href="https://codepen.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-codepen fa-fw" title="Codepen"></i></a>
{{ end }}
{{ with .Site.Params.Social.FreeCodeCamp}}
    <a href="https://freecodecamp.org/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-free-code-camp fa-fw"></i></a>
{{ end }}
{{ with .Site.Params.Social.Bitbucket}}
    <a href="https://bitbucket.org/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-bitbucket fa-fw" title="Bitbucket"></i></a>
{{ end }}
{{ with .Site.Params.Social.Stackoverflow}}
    <a href="https://stackoverflow.com/users/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-stack-overflow fa-fw" title="Stackoverflow"></i></a>
{{ end }}
{{ with .Site.Params.Social.Weibo}}
    <a href="https://weibo.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-weibo fa-fw" title="Weibo"></i></a>
{{ end }}
{{ with .Site.Params.Social.Odnoklassniki}}
    <a href="https://ok.ru/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-odnoklassniki fa-fw" title="Odnoklassniki"></i></a>
{{ end }}
{{ with .Site.Params.Social.VKontakte}}
    <a href="https://vk.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-vk fa-fw" title="VKontakte"></i></a>
{{ end }}
{{ with .Site.Params.Social.Flickr}}
    <a href="https://www.flickr.com/photos/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-flickr fa-fw" title="Flickr"></i></a>
{{ end }}
{{ with .Site.Params.Social.Xing}}
    <a href="https://www.xing.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-xing fa-fw" title="Xing"></i></a>
{{ end }}
{{ with .Site.Params.Social.Snapchat}}
    <a href="https://www.snapchat.com/add/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-snapchat fa-fw" title="Snapchat"></i></a>
{{ end }}
{{ with .Site.Params.Social.Soundcloud}}
    <a href="https://soundcloud.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-soundcloud fa-fw" title="Soundcloud"></i></a>
{{ end }}
{{ with .Site.Params.Social.Spotify}}
    <a href="https://open.spotify.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-spotify fa-fw" title="Spotify"></i></a>
{{ end }}
{{ with .Site.Params.Social.Bandcamp}}
    <a href="https://{{.}}.bandcamp.com/" rel="me noopener noreffer" target="_blank"><i class="fab fa-bandcamp fa-fw" title="Bandcamp"></i></a>
{{ end }}
{{ with .Site.Params.Social.Paypal}}
    <a href="https://paypal.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-paypal fa-fw" title="Paypal"></i></a>
{{ end }}
{{ with .Site.Params.Social.Fivehundredpx}}
    <a href="https://500px.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-500px fa-fw" title="Fivehundredpx"></i></a>
{{ end }}
{{ with .Site.Params.Social.Mix}}
    <a href="https://mix.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-mix fa-fw" title="Mix"></i></a>
{{ end }}
{{ with .Site.Params.Social.Goodreads}}
    <a href="https://www.goodreads.com/user/show/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-goodreads fa-fw" title="Goodreads"></i></a>
{{ end }}
{{ with .Site.Params.Social.Lastfm}}
    <a href="https://www.last.fm/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-POP_lastfm fa-fw" title="Lastfm"></i></a>
{{ end }}
{{ with .Site.Params.Social.Foursquare}}
    <a href="https://foursquare.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-foursquare fa-fw" title="Foursquare"></i></a>
{{ end }}
{{ with .Site.Params.Social.Hackernews}}
    <a href="https://news.ycombinator.com/user?id={{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-hacker-news fa-fw" title="Hackernews"></i></a>
{{ end }}
{{ with .Site.Params.Social.Kickstarter}}
    <a href="https://kickstarter.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-kickstarter fa-fw" title="Kickstarter"></i></a>
{{ end }}
{{ with .Site.Params.Social.Patreon}}
    <a href="https://patreon.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-patreon fa-fw" title="Patreon"></i></a>
{{ end }}
{{ with .Site.Params.Social.Steam}}
    <a href="https://steamcommunity.com/id/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-steam fa-fw" title="Steam"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitch}}
    <a href="https://www.twitch.tv/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-twitch fa-fw" title="Twitch"></i></a>
{{ end }}
{{ with .Site.Params.Social.Strava}}
    <a href="https://www.strava.com/athletes/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-strava fa-fw" title="Strava"></i></a>
{{ end }}
{{ with .Site.Params.Social.Skype}}
    <a href="skype:{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-skype fa-fw" title="Skype"></i></a>
{{ end }}
{{ with .Site.Params.Social.Whatsapp}}
    <a href="https://wa.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-whatsapp fa-fw" title="Whatsapp"></i></a>
{{ end }}
{{ with .Site.Params.Social.Zhihu}}
    <a href="https://www.zhihu.com/people/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-zhihu fa-fw" title="Zhihu"></i></a>
{{ end }}
{{ with .Site.Params.Social.Angellist}}
    <a href="https://angel.co/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-angellist fa-fw" title="Angellist"></i></a>
{{ end }}
{{ with .Site.Params.Social.Slideshare}}
    <a href="https://slideshare.com/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-slideshare fa-fw" title="Slideshare"></i></a>
{{ end }}
{{ with .Site.Params.Social.Jsfiddle}}
    <a href="https://jsfiddle.com/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-jsfiddle fa-fw" title="Jsfiddle"></i></a>
{{ end }}
{{ with .Site.Params.Social.Deviantart}}
    <a href="https://{{ . }}.deviantart.com/" rel="me noopener noreffer" target="_blank"><i class="fab fa-deviantart fa-fw" title="Deviantart"></i></a>
{{ end }}
{{ with .Site.Params.Social.Behance}}
    <a href="https://behance.net/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-behance fa-fw" title="Behance"></i></a>
{{ end }}
{{ with .Site.Params.Social.Dribble}}
    <a href="https://dribbble.com/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-dribbble fa-fw" title="Dribble"></i></a>
{{ end }}
{{ with .Site.Params.Social.Wordpress}}
    <a href="https://{{ . }}.wordpress.com" rel="me noopener noreffer" target="_blank"><i class="fab fa-wordpress fa-fw" title="Wordpress"></i></a>
{{ end }}
{{ with .Site.Params.Social.Vine}}
    <a href="https://vine.co/" rel="me noopener noreffer" target="_blank"><i class="fab fa-vine fa-fw" title="Vine"></i></a>
{{ end }}
{{ with .Site.Params.Social.Googlescholar}}
    <a href="https://scholar.google.com/citations?{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-Googlescholar fa-fw" title="Googlescholar"></i></a>
{{ end }}
{{ with .Site.Params.Social.Researchgate}}
    <a href="https://www.researchgate.net/profile/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-researchgate fa-fw" title="Researchgate"></i></a>
{{ end }}
{{ with .Site.Params.Social.Mastodon}}
    <a href="https://mastodon.social/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-mastodon fa-fw" title="Mastodon"></i></a>
{{ end }}
{{ with .Site.Params.Social.Devto}}
    <a href="https://dev.to/{{ . }}" rel="me noopener noreffer" target="_blank"><i class="fab fa-dev fa-fw" title="Dev.To"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email}}
    <a href="mailto:{{.}}" rel="me noopener noreffer"><i class="far fa-envelope fa-fw" target="_blank" title="Email"></i></a>
{{ end }}