{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "content" }}
    {{ $taxonomy := .Data.Singular }}
    {{ $taxonomyName := $taxonomy }}
    {{ if eq $taxonomy "tag"}}
        {{ $taxonomyName = (T "tag") }}
    {{ else if eq $taxonomy "category"}}
        {{ $taxonomyName = (T "category") }}
    {{ end }}
    <div class="post-warp archive">
        <h2 class="post-title">
            {{- printf "%s - %s" $taxonomyName .Title -}}
        </h2>
        {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
            <h3>{{ .Key }}</h3>
            {{ range .Pages }}
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
                    <span class="archive-item-date">
                        {{ .Date.Format (.Site.Params.dateFormatToUse | default "01-02") }}
                    </span>
                </article>
            {{ end }}
        {{ end }}
        {{ partial "paginator.html" . }}
    </div>
{{end }}
