{{- define "title" -}}
    {{- .Title }} | {{ T .Data.Singular | default (humanize .Data.Singular) }} | {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animated pulse faster">
            {{- $taxonomy := .Data.Singular -}}
            {{- if eq $taxonomy "category" -}}
                <i class="far fa-folder-open fa-fw"></i>&nbsp;{{ humanize .Title }}
            {{- else if eq $taxonomy "tag" -}}
                <i class="fas fa-tag fa-fw"></i>&nbsp;{{ humanize .Title }}
            {{- else -}}
                {{- printf "%s - %s" (T $taxonomy | default  (humanize $taxonomy)) .Title -}}
            {{- end -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups -}}
            <h3>{{ .Key }}</h3>
            {{- range .Pages -}}
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                        {{- .Title -}}
                    </a>
                    <span class="archive-item-date">
                        {{- .Date.Format (.Site.Params.dateFormatToUse | default "01-02") -}}
                    </span>
                </article>
            {{- end -}}
        {{- end -}}
        {{- partial "paginator.html" . -}}
    </div>
{{- end -}}
