{{ if .IsNamedParams }}
    {{ if eq (.Get "details") "true" }}
        <details class="admonition {{ .Get "type" }}">
            {{ with .Get "title" }}<summary class="admonition-title">{{ . }}</summary>{{ end }}
            {{ .Inner }}
        </details>
    {{ else }}
        <div class="admonition {{ .Get "type" }}">
            {{- with .Get "title" }}<p class="admonition-title">{{ . }}</p>{{ end }}
            {{ .Inner }}
        </div>
    {{ end }}
{{ else }}
    {{ if eq (.Get 2) "true" }}
        <details class="admonition {{ .Get 0 }}">
            {{- with .Get 1 }}<summary class="admonition-title">{{ . }}</summary>{{ end }}
            {{ .Inner }}
        </details>
    {{ else }}
        <div class="admonition {{ .Get 0 }}">
            {{- with .Get 1 }}<p class="admonition-title">{{ . }}</p>{{ end }}
            {{ .Inner }}
        </div>
    {{ end }}
{{ end }}
