{{ if .Get "date" -}}
    {{ $date := .Get "date" }}
    {{ $id := delimit (split (md5 $date) "" | shuffle) "" | printf "cd-%s" -}}
    {{ $defaultPattern := printf "%%D %s %%H %s %%M %s %%S %s" (T "day") (T "hour") (T "minute") (T "second") }}
    {{ $new := dict $id (dict "date" $date "pattern" (.Get "pattern" | default $defaultPattern)) }}
    {{ with .Page.Scratch.Get "countdownMap" -}}
        {{ .Page.Scratch.Set "countdownMap" (merge . $new) -}}
    {{ else -}}
        {{ .Page.Scratch.Set "countdownMap" $new -}}
    {{ end -}}
    <div id="{{ $id }}"></div>
{{ end -}}