{{- $destination := cond .IsNamedParams (.Get "href") (.Get 0) -}}
{{- with dict "Path" $destination "Resources" .Page.Resources | partial "function/resource.html" -}}
    {{- $destination = .RelPermalink -}}
{{- end -}}
{{- $options := dict "Destination" $destination -}}
{{- if .IsNamedParams -}}
    {{- $options = dict "Content" (.Get "content") | merge $options -}}
    {{- $options = dict "Title" (.Get "title") | merge $options -}}
    {{- $options = dict "Class" (.Get "class") | merge $options -}}
    {{- $options = dict "Rel" (.Get "rel") | merge $options -}}
{{- else -}}
    {{- $options = dict "Content" (.Get 1 | default (.Get 0)) | merge $options -}}
    {{- $options = dict "Title" (.Get 2) | merge $options -}}
{{- end -}}
{{- partial "plugin/link.html" $options -}}
