<div id="elem1" class="details admonition lock open">
  <div id="elem2" class="details-summary admonition-title">
      <i class="icon fas fa-lock fa-fw" aria-hidden="true"></i>{{T "LockedContent"}}<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
  </div>
  <div class="details-content">
      <div id="elem3" class="admonition-content">
          {{T "AuthRequired"}}
      </div>
  </div>
</div>

<script>
verifyAuth();

function verifyAuth() {
    var r = document.referrer;
    r = r.toLowerCase();
    if(window.location.host == "127.0.0.1" || window.location.host == "localhost:1313")
    {
      alert('以本地模式运行，跳过授权验证...');
      changeAdmon();
      return;
    }
    if (r != "http://auth.pitrick.link/")
    {
      alert('授权验证失败，无法显示内容，点击确定尝试验证');
      var url = window.location.href;
      var splited_url = url.split('/');
      var redirect = 'http://auth.pitrick.link/redirect/' + splited_url[splited_url.length-2];
      window.location.href = redirect;
    }
    else
    {
      alert('授权验证成功！');
      changeAdmon();
      return;
    }
}

function changeAdmon() {
  var elem1 = document.getElementById('elem1');
  elem1.className = "details admonition unlock open";
  var elem2 = document.getElementById('elem2');
  elem2.innerHTML = "<i class='icon fas fa-lock-open fa-fw' aria-hidden='true'></i>" + {{T "UnlockedContent"}} + "<i class='details-icon fas fa-angle-right fa-fw' aria-hidden='true'></i>"
  var elem3 = document.getElementById('elem3');
  elem3.innerHTML = {{T "AuthPassed"}}
}
</script>