<div class="details admonition lock open">
  <div class="details-summary admonition-title">
      <i class="icon fas fa-exclamation-triangle fa-fw" aria-hidden="true"></i>{{T "LockedContent"}}<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
  </div>
  <div class="details-content">
      <div class="admonition-content">
          {{T "AuthRequired"}}
      </div>
  </div>
</div>

<script>
verifyAuth();

function verifyAuth() {
    var r = document.referrer;
    r = r.toLowerCase();
    if (r != "http://auth.pitrick.link/")
    {
      alert('授权验证失败，无法显示内容，点击确定尝试验证');
      var url = window.location.href;
      var splited_url = url.split('/');
      var redirect = 'http://auth.pitrick.link/redirect/' + splited_url[splited_url.length-2];
      window.location.href = redirect;
    }
    else
    {
      alert('授权验证成功！');
    }
}
</script>