<div class="details admonition warning open">
  <div class="details-summary admonition-title">
      <i class="icon fas fa-exclamation-triangle fa-fw" aria-hidden="true"></i>{{T "SensitiveContent"}}<i class="details-icon fas fa-angle-right fa-fw" aria-hidden="true"></i>
  </div>
  <div class="details-content">
      <div class="admonition-content">
          <b>{{T "ReadCaution"}}</b>
          <br>
          <span class="spoiler" >{{.Inner}}</span>
          <br>
          <i><u>{{T "HoverRead"}}</u></i>
      </div>
  </div>
</div>
<style>
    .spoiler { 
      opacity: 0;
    }
    .spoiler:hover{
      opacity: 1;
    }
    </style>