{{ $content := .Inner }}
{{ $id := delimit (split (md5 $content) "" | shuffle) "" | printf "tp-%s" }}

{{ if .Get "raw" }}
{{ $content = trim $content "\n" }}
    <div id={{ printf "r%s" $id }} hidden=true>{{ $content | safeHTML }}</div>
    <div class={{ .Get "class" }} id={{ $id }}></div>
{{ else if .Get "code" }}
    {{ $content = highlight $content (.Get "code") "encoding=utf-8" }}
    {{ $content = replaceRE `<div class="highlight">\s*?<pre class="chroma">\s*?<code.*?>(?s)(.*?)</code>\s*?</pre>\s*?</div>` "$1" $content }}
    {{ $content = trim $content "\n" }}
    {{ $content = replaceRE `\n</span>` "</span>\n" $content }}
    {{ $content = replaceRE `(?m)^(<span.*?>)(.*?)\[(.*?)\]\((.*?)\)(.*?)(</span>)` "$1$2$6<a href=$4>$3</a>$1$5$6" $content }}
    {{ $content = replaceRE `(?m)^( +)<span` "<span class=space>$1</span><span" $content }}
    {{ $content = replaceRE `</span>( +)<span` "</span></span><span class=space>$1</span><span" $content | replaceRE `\n` "<br />" }}
    <div id={{ printf "r%s" $id }} hidden=true>{{ $content | safeHTML }}</div>
    <div class={{ .Get "class" | default "typeit-code" }} id={{ $id }}></div>
{{ else }}
    {{ $tag := .Get "tag" | default "p" }}
    {{ $content = $content | markdownify | chomp }}
    {{ $content = trim $content "\n" }}
    <div id={{ printf "r%s" $id }} hidden=true>{{ $content | safeHTML }}</div>
    {{ printf "<%s class=%s id=%s></%s>" $tag (.Get "class" | default "typeit") $id $tag | safeHTML }}
{{ end }}

<script>
    var typeitMap = window.typeitMap || {};
    {{ with .Get "group" }}
        if (!typeitMap[{{ . }}]) {
            typeitMap[{{ . }}] = [];
        }
        typeitMap[{{ . }}].push({{ $id }});
    {{ else }}
    typeitMap[{{ $id }}] = true;
    {{ end }}
</script>
